.flexbox {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.full-width {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.full-height {
    height: 100%;
}

.justify-end {
    justify-content: flex-end;
}

.margin-v-10 {
    margin: 10px 0;
}

.margin-v-30 {
    margin: 30px 0;
}

.page-padding {
    padding: 0 100px;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.shadow-1 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.09);
}

.h-100{
    height: 100%;
}

.w-100{
    width:100%;
}

.vh-100{
    height: 100vh;
}